

{{#each blog as |blog| }}
<div class="mainblock">
<div class="thetitle">
<h2><a class="part" href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
<div class="user">{{user.name}}</div>
</div>
<div class="box">{{blog.description}}</div>
</div>
{{#each comm as |comment|}}
<div>{{comment.com_name}}</div>
<div>{{comment.content}}</div>
{{/each}}
{{/each}}

