<div>Home Page</div>

{{#each projects as |blog| }}
<div>{{user.name}}</div>
<div><a href="/blog/{{blog.id}}">{{blog.name}}</a></div>
<div>{{blog.description}}</div>


{{#each comments as |comment|}}
<div>{{comment.content}}</div>
 
{{/each}}


{{/each}}